.card-header h1, .card-footer h1{
  color: #525252;
}
#votingCard div.member span{
  color: #525252;
  font-weight:500;
}

#votingCard div.member{

}
#votingCard .member:last-child{
  border: none;
}
#votingCard .member.lastel{
  border: none;
  padding-bottom: 10px;
}
.card-container{
  width:auto;
  margin-left: 0px;
  margin-right: 0px;

  padding-left: 0px;
  padding-right: 0;
}

.card-header{
  width:auto;
  margin-left: 20px;
  margin-right: 20px;
}

.card-content{
  width:auto;
  margin-left: 20px;
  margin-right: 20px;

}

.card-footer{
  width:auto;
  padding-right: 20px;
  padding-left: 20px;
}

.session_voting .session_votes .progress.smallbar {
  height: 15px;
}

  .session_voting .session_votes {
    font-size: 30px;
    line-height: 40px;
    margin: 15px 0 10px 0;
  }

  .session_voting .session_votes .type {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }
/*@media (max-width: 480px) {
}
*/
.session_voting{
  font-weight: 400;
}

.accepted.nay{
  color: #ff5e41;
}
.accepted.aye{

}

.session_voting .accepted{
  line-height:normal;
  height: 95px;
}
.session_voting  .accepted p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.session_voting .session_title {
  height: 95px;
  margin: 0;
}
.session_voting .session_title p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


@media (max-width: 991px) {
  .session_voting .accepted,
  .session_voting .session_title {
    height: 93px;
  }

}
.session_voting .session_title p{
  font-size: 14px;
}