/*.card-header h1, .card-footer h1{
  color: #525252;
}
#votingCard div.member span{
  color: #525252;
  font-weight:500;
}

#votingCard div.member{

}
#votingCard .member:last-child{
  border: none;
}
#votingCard .member.lastel{
  border: none;
  padding-bottom: 10px;
}
.card-container{
  width:auto;
  margin-left: 0px;
  margin-right: 0px;

  padding-left: 0px;
  padding-right: 0;
}

.card-header{
  width:auto;
  margin-left: 20px;
  margin-right: 20px;
}

.card-content{
  width:auto;
  margin-left: 20px;
  margin-right: 20px;

}

.card-footer{
  width:auto;
  padding-right: 20px;
  padding-left: 20px;
}


.card-content {
  margin-right: 5px;
}
#votingCard div.member {

}*/

.member, #votingCard.member {
  justify-content: flex-start !important;
}

.card-content-front {
  height: 100%;
}
.seznamscrollme {
  overflow-y: scroll;
  height: 100%;
}

.member {
    .image {
      background-position: center center;
      background-size: 150px auto;
      border-radius: 50px;
      height: 80px;
      width: 80px;
      img {
        border-radius: 50px;
        width: 100%;
      }
    }
    div {
        p {
            font-size: 18px;
            font-weight: 300;
            display: block !important;
        }
    }
  }