.poslanec_title {
    line-height: 30px;
    height: 30px;
    padding-right: 10px;
}

.term, .frequency {
    display: block;
    float: left;
    height: 30px;
}
.term span, .frequency div span {
    line-height: 30px;
}
.progress-bar, .progress_number {
    float: left;
}

.tfidf-bar {
    height: 30px;
    margin-bottom: 8px;
}
.progress-bar {
    border-bottom-width: 0;
}
.progress_number {
    line-height: 30px !important;
}


.nospeeches {
  position: relative;
  margin: auto;
  text-align: center;
  margin-top: 40px;
}
