
#votingCardHorizontal div.odstopanje-member {
  width: 133px;
  border-bottom: none;
}

#votingCardHorizontal .slider div.odstopanje-member {
  margin: 0 16px 0 0;
}

#votingCardHorizontal .slider {
  width: auto;
}

#votingCardHorizontal div.odstopanje-member .image,
#votingCardHorizontal div.odstopanje-member p,
#votingCardHorizontal div.odstopanje-member span {
  float: none;
}

@media (max-width: 991px) {
  #votingCardHorizontal {
    .slider {
      width: 333px;
    }
    div.odstopanje-member {
      width: 147px;
    }

  }
}

@media (max-width: 500px) {
  #votingCardHorizontal {
    .slider {
      width: 100%;
    }
  }
}

.odstopanje-member {
  display: block;

  & * {
    display: block;
  }
}