
#votingCardHorizontal div.member {
  width: 133px;
  border-bottom: none;
}

#votingCardHorizontal .slider div.member {
  margin: 0 16px 0 0;
}

#votingCardHorizontal .slider {
  width: auto;
}

#votingCardHorizontal div.member .image,
#votingCardHorizontal div.member p,
#votingCardHorizontal div.member span {
  float: none;
}

@media (max-width: 991px) {
  #votingCardHorizontal {
    .slider {
      width: 333px;
    }
    div.member {
      width: 147px;
    }

  }
}

@media (max-width: 500px) {
  #votingCardHorizontal {
    .slider {
      width: 100%;
    }
  }
}