@import "parlassets/scss/colors";

.tabs-headers { margin-bottom: 40px; }

.avgminimg-party {
  color: $white;
  cursor: pointer;
  font-size: 11px;
  line-height: 27px;

  &:hover { text-decoration: none; }
}
