.bar {
    fill: #ccebf8;
}
.smallbarcontainer, .bigbarcontainer {
    text {
        transition: all 0.2s ease-out;
    }
}
.smallbarcontainer:hover, .bigbarcontainer:hover {
    .bar {
        fill: #009cdd;
    }
    text {
        font-size: 1.2em;
    }
}
.smallbarcontainer text, .bigbarcontainer text {
    fill: #009cdd;
    font-weight: 300;
}
.bigbarcontainer text {
    font-size: 12px;
    opacity: 0;
}
.bigbarcontainer:hover text {
    opacity: 1;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
    stroke-dasharray: 1, 3;
}
.tick line {
        stroke-width: 0;
}
.bigdata .tick text {
    opacity: 0;
    transition: all 0.2s ease-in;
}
