.bar {
    fill: #ccebf8;
}
.bar:hover {
    fill: #009cdd;
}
.smallbarcontainer text {
    fill: #009cdd;
    font-weight: 300;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
    stroke-dasharray: 1, 3;
}
.tick line {
        stroke-width: 0;
}
