.card-header h1, .card-footer h1{
  color: #525252;
}


#all-speeches {

  .speech{
    color: #FFFFFF;
    font-weight:500;
    display: inline-block;
    float: left;
    padding: 2px 0;
    margin: 0 10px 10px 0;
    text-align: center;

   -webkit-mask: url(https://cdn.parlameter.si/v1/parlassets/icons/govor_old.svg) no-repeat 50% 50%;
    mask: url(https://cdn.parlameter.si/v1/parlassets/icons/govor_old.svg);
    -webkit-mask-size: cover;
    //mask-size: cover;

    background-color: #197197;


  }

  .speech:hover {
    background-color: #009CDD;
    text-decoration: none;
  }

  section {

    span.date {
      font-weight:500;
    }

    span.title{
      font-weight:500;
      font-size: 16px;
      margin: 20px 0 0 0;
      float: left;
    }

    ul {
      margin: 0 0 10px 0;
      border-top: none;
      border-bottom: 0px solid #f0f0f0;
      padding: 0 0 5px 0;
      float: left;
      width: 100%;

      li {
        margin: 0 0 0 0;
        span {
        }

        p {
          margin: 0;

        }
        a {
          color: #197197;
          font-weight:400;
        }

        ul{
          margin-bottom: 0px;
          border: none;
          padding-bottom: 0px;
          width: 100%;
          li{
            margin: 0;
          }
        }
      }
    }

    .member{
      border-bottom:none;
      display: flex;
      align-items: flex-start;
      .column {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
      }
    }
    .member .image{
      width: 30px;
      height: 30px;
      display: block;
      float: left;
      margin-right: 5px;
      background-size: cover;
      -webkit-border-radius:20px;
      -moz-border-radius:20px;
      border-radius:20px;
    }
    .member p{
      float: left;
      display: inline-block;
      font-size: 13px;
      padding-left: 5px;
      padding-right: 0;
      line-height: 30px;
    }
    .speechesnmbr{

    }


  }





}
@media (max-width: 991px) {

}
@media (max-width: 480px) {
  #all-speeches {
    section{
      span.date{
        //width: auto;
        width: 50px;
      }
      span.title{
        margin: 20px 0 0 20px;
      }

      ul{
        width: 80%;
        margin-left: 50px;
        li{
          ul{
            width: 100%;
            margin-left: 0px;
          }
        }
      }
    }
  }
}
@media (max-width: 390px) {

  #all-speeches section ul li{
    margin: 20px 0 0 0;
  }
  #all-speeches section ul li ul {
    padding: 0px;
  }
  #all-speeches section .member {
    border-bottom: none;
    padding: 10px 0 0 0;
  }
  #all-speeches .speech{
    padding: 3px 10px;
    margin: 0 10px 5px 0;
  }
}



.card-content-front {
    height: 100%;
    overflow-y: auto;
}

& section {
    overflow: hidden;
}

.recent-activity section ul li {
    min-height: 30px;
    p {
        min-height: 30px;
    }
}
