.parlaicon-container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 7px;
    padding-bottom: 3px;
}
a span {
    color: #197197;
}

.socialicon-container {
    background-color: transparent !important;
}
.parlaicon-facebook, .parlaicon-twitter {
    svg {
        width: 22px;
        height: 22px;

        path {
            fill: #197197;
        }
    }

    &:hover {
        svg path {
            fill: #009cdd;
        }
    }
}

a strong {
    font-weight: 500;
}
a:hover {
  background-color: #e1f6ff;
  text-decoration: none; 
}





&.card-container, .card-content {
    overflow: hidden;
}
.card-header {
    background: #ffffff;
}
.card-content {
    position: relative;
}
&.card-container::before {
    content: '';
    background-color: black;
    position: relative;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 1px;
    left: 1px;

    transition: transform 0.3s ease-out;
}
&.card-container.cover::before {
    transform: scale(400); 
}