.card-header h1, .card-footer h1{
  color: #525252;
}

  .pspris span{
  color: #525252;
  font-weight:500;
}

.presence-of-pg {
  height:120px;
}

@media (max-width: 950px) {
  .presence-of-pg .pspris{
    margin-bottom: 20px;
  }
  .presence-of-pg {
    height:auto;
  }
}


.card-container{
  width:auto;
  margin-left: 0px;
  margin-right: 0px;

  padding-left: 0px;
  padding-right: 0;
}

.card-header{
  width:auto;
  margin-left: 20px;
  margin-right: 20px;
}

.card-content{
  width:auto;
  margin-left: 20px;
  margin-right: 20px;

}

.card-footer{
  width:auto;
  padding-right: 20px;
  padding-left: 20px;
}

