@import 'parlassets/scss/breakpoints';

.card-header h1, .card-footer h1 {
  color: #525252;
}

.presence-of-pg {
  height: 120px;
  @include respond-to(up-to-limbo) { height: auto; }
}

.card-content {
  min-height: 0;
}
