@import 'parlassets/scss/breakpoints';

.card-header h1, .card-footer h1{
  color: #525252;
}
#votingCard div.member span{
  color: #525252;
  font-weight:500;
}

#votingCard div.member{

}
#votingCard .member:last-child{
  border: none;
}
#votingCard .member.lastel{
  border: none;
  padding-bottom: 10px;
}


.session_voting .session_votes .progress.smallbar {
  height: 15px;
}

  .session_voting .session_votes {
    font-size: 30px;
    line-height: 40px;
    margin: 15px 0 10px 0;
  }

  .session_voting .session_votes .type {
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }
/*@media (max-width: 480px) {
}
*/
.session_voting{
  font-weight: 400;
}

.accepted.nay{
  color: #ff5e41;
}
.accepted.aye{

}

.session_voting .accepted{
  line-height:normal;
  height: 95px;
}
.session_voting  .accepted p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  margin: 0;
  line-height: 30px;
  margin-top: 6px;
}
.session_voting .session_title {
  height: 95px;
  margin: 0;
  @include respond-to(mobile) {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}
.session_voting .session_title p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: Roboto Slab;
  margin-top: 6px;
}


@media (max-width: 991px) {
  .session_voting .session_title {
    height: 93px;
  }
  .session_voting .accepted {
    height: 60px;
  }

  .border-left {
    border-left: none;
    border-top: 2px solid #dbdbdb;
  }
  .single_voting:hover {
    .border-left {
      border-top-color: #cadde6;
    }
  }

  .single_voting {
    padding-bottom: 15px;
  }

}
.session_voting .session_title p{
  font-size: 14px;
}


.session_voting .single_voting{
  margin-bottom: 10px;
}
.session_voting{
  padding: 0;
}

.single_voting:hover {
  background-color: #e1f6ff;

  .border-left {
    border-left-color: #cadde6;
  }
}
.seja_anchor:hover {
  color: #525252; 
}

.card-content-front{
  overflow-y: auto;
}