a {
  font-size: 16px;
}
a:hover {
  background-color: #e1f6ff;
  text-decoration: none; 
}

.session-container{
  height: auto;
  left: auto;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  overflow: hidden;
  padding: 0;
  position: inherit;
  top: auto;
}

.session-container .paneltab{
  padding-top:0;
  padding-bottom:0;
}

.session-container .paneltab .session_other_members a{
  width: 12.67%;
  float: left;
  margin: 2%;
}

.session-container .paneltab .session_other_members img{
  width:100%;
}

.session-container .paneltab .dt-member .image{
  width: auto;
  height:auto;
}

.session-container .paneltab .dt-member h3{
  margin-top: 0;
}

.session-container .paneltab .dt-member img{
 /*margin-top: 12px;*/
}

.other_poslanec{
  padding-bottom: 10px;
}
.progress.hugebar{
  margin-bottom: 30px;
}

.sessionsGetSessionByDate{
  height: 500px;
}
.sessionsGetSessionByDate ul{
  padding: 0;
}
.sessionsGetSessionByDate ul li{
  list-style: none;
  padding-bottom: 10px;
}
.sessionsGetSessionByDate ul li span{
  padding-left: 0;
}
.sessionsGetSessionByDate ul li p{
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.verticalmember{
  /*height: 95px;*/
  height: 85px;
}
.verticalmember .dt-member_data {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 991px) {
  .verticalmember{
    height: auto;
  }
  .verticalmember .dt-member_data {
    position: relative;
    top: auto;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}

.upcase{
  text-transform: uppercase;
}

.dt-member {
  h3 {
        font-size: 18px;
        font-weight: 400;
        margin: 12px 0 0 0;
    }
    h4 {
        font-size: 14px;
        font-weight: 300;
    }
}