text {
  font: 12px sans-serif;
  text-anchor: middle;
  color: #505050;
  font-weight: 300;
}

path.pointer {
  // stroke-width: 0.6;
  stroke: #505050;
}

.card-header {
    height: auto;
}
.slab {

    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

a.document {
    display: inline-block;
    border-radius: 50%;

    height: 35px;
    width: 35px;
    background-color: #00628c;

    line-height: 35px;
    text-align: center;
    color: #ffffff;

    margin-left: 10px;
}
a.document:hover {
    text-decoration: none;
    background-color: #009cdd;
}

.greybox {
    background-color: #f7f7f7;
    padding: 15px;
    margin-top: 15px;

    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.legend-container, .right-container {
    display: flex;
}
.legend-container {

    height: 48px;

    .option {
        display: inline-block;
        margin-right: 20px;
        cursor: pointer;

        .option-marker {
            display: inline-block;
            background-color: #000000;
            width: 10px;
            height: 40px;
            margin-right: 10px;
        }
        .option-marker-za {
            background-color: #00628C;
        }
        .option-marker-proti {
            background-color: #009CDD;
        }
        .option-marker-vzdrzani {
            background-color: #003B54;
        }
        .option-marker-niso {
            background-color: #99E1FF;
        }
        .option-text {
            display: inline-block;
        }
        .option-number {
            font-size: 30px;
            font-weight: 400;
            color: #515151;
            line-height: 30px;
            padding: 0;
            margin: 0;
        }
        .option-option {
            font-size: 16px;
            color: #515151;
            line-height: 16px;
        }
    }
}

.status-container {
    display: block;
    float: left;

    height: 48px;

    font-size: 16px;

    margin-right: 20px;

    .status {
        display: inline-block;
        line-height: 48px;

        font-weight: 700;
    }

    i {
        font-size: 14px;
        margin-left: 5px;
    }

    .glyphicon-remove {
        color: #FF5E41;
    }
    .glyphicon-ok {
        color: #7AE7BF;
    }

}

.required-majority {
    display: block;
    float: left;

    line-height: 48px;
}

.member {
    overflow: hidden;

    p.name, p.party {
        margin-top: 30px;
    }

    p.party {
        float: right;
    }
}
.member:last-of-type {
    border-bottom: none;
}

.label-party {
    opacity: 0;
}

.arc path {
    transition: all 1s ease-in;
    cursor: pointer;
}

.pointer-party {
    opacity: 0;
}
.label, .pointer {
    transition: opacity 0.3 ease-out;
}

.card-header-border {
    min-width: 2px;
}

&.fix-600 {
    height: 600px !important;
    overflow: hidden;
}

.people-ballots {
    height: 620px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.vote-icon {
    display: flex;
    width: 50px;
    height: 50px;
    background-size: contain;

    &.za {
        background-image: url('https://cdn.parlameter.si/v1/parlassets/icons/za.svg');
    }
    &.proti {
        background-image: url('https://cdn.parlameter.si/v1/parlassets/icons/proti.svg');
    }
    &.ni {
        background-image: url('https://cdn.parlameter.si/v1/parlassets/icons/ni.svg');
    }
    &.vzdrzan {
        background-image: url('https://cdn.parlameter.si/v1/parlassets/icons/vzdrzan.svg');
    }
}

.member p {
    font-size: 18px;
}