.session-redna,
.session-izredna,
.session-slavnostna,
.session-nujna {
  height: 39px;
  margin: 0 24px 0 2px;
  width: 72px;
}

.session-redna { background: url("https://cdn.parlameter.si/v1/parlassets/icons/seja-redna.svg"); }
.session-izredna { background: url("https://cdn.parlameter.si/v1/parlassets/icons/seja-izredna.svg"); }
.session-slavnostna { background: url("https://cdn.parlameter.si/v1/parlassets/icons/seja-svecana.svg"); }
.session-nujna { background: url("https://cdn.parlameter.si/v1/parlassets/icons/seja-nujna.svg"); }
