.poslanec_title {
    line-height: 30px;
    height: 30px;
    padding-right: 10px;
}

.term, .frequency {
    display: flex;
    height: 30px;
}
.term span, .frequency div span {
    line-height: 30px;
}

.tfidf-bar {
    height: 30px;
    margin-bottom: 19px;
    display: flex;
    .progress-bar {
        border-bottom-width: 0;    
    }
}
.progress_number {
    line-height: 30px !important;
}

.term {
    flex: 2;
}
.frequency {
    flex: 5;
    .progress {
        width: 100%;
    }
}

.tfidf-container {
  max-height: 480px;
  overflow: hidden;
}