<!DOCTYPE html> <!-- removeme -->
<html> <!-- removeme -->

<head> <!-- removeme -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- removeme -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!-- removeme -->

    <!-- build:remove -->
    <!-- these script files are removed on build -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.jquery.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/script.js"></script>
    <!-- endbuild -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/css/perfect-scrollbar.css" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/scss/style.css" data-remove="false" data-concat="false"> <!-- removeme -->

    <!-- your css file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <link data-inline="true" rel="stylesheet" href="css/style.css">

</head> <!-- removeme -->

<body> <!-- removeme -->


    <!-- everything above here is part of the page and not part of the card -->
    <div class="card-container card-halfling">
        <div class="card-header">
            <div class="card-header-border"></div>
            <h1>Naslov kartice</h1> <!-- this text is the only thing you touch in .card-header -->
        </div>

        <div class="session-container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="session_types">
                        <h2>Išči po vseh sejah trenutnega sklica</h2>

                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                        </div>
                    </div>

                    <div  style="margin: 0 auto; min-width:300px;">
                        <div>
                            Filtri
                        </div>

                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for...">
                            <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></button>
                        </span>
                        </div>
                    </div>



                </div>


            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="session_types ">

                        <h2>
                            Izberi vrsto seje
                        </h2>
                        <ul class="clearfix">
                            <li>
                                <a href="">
                                    Seje DZ
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Seje delovnih<br> teles
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    Seje kolegija <br>predsednika DZ
                                </a>
                            </li>
                        </ul>



                    </div>
                </div>
            </div>


            <div class="row">
                <div class="session_type col-sm-3 closed">
                <span>
                   Komisija za nadzor
               </span>
                </div>
                <div class="session_type col-sm-3 closed">
                <span>
                Komisija za narodni skupnosti
                   <br>
                   <font>12.6.2015</font>
                </span>
                </div>
                <div class="session_type col-sm-3 closed">
                <span>
                Komisija za narodni skupnosti
                </span>
                </div>
                <div class="session_type col-sm-3 closed">
                <span>
                Komisija za narodni skupnosti
                </span>
                </div>

            </div>
            <div class="row">
                <div class="session_type col-sm-3 closed">
                <span>
                Komisija za narodni skupnosti
                </span>
                </div>
                <div class="session_type col-sm-3 closed">
                <span>
                Komisija za narodni skupnosti
                </span>
                </div>
                <div class="session_type col-sm-3 active">
                <span>
                Komisija za narodni skupnosti
                </span>
                </div>
                <div class="session_type col-sm-3 closed">
                <span>
                Komisija za narodni skupnosti
                </span>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-container">

                        <div class="paneltab border-right col-md-4">
                            <h2>Osnovne informacije</h2>

                            <div class="member row">
                                <div class="col-xs-4 image respo">
                                    <img class="media-object img-circle img-responsive" src="/img/tmp.jpg" alt="" />
                                </div>
                                <div class="col-xs-8 member_data">
                                    <h3>
                                        im epriimek
                                    </h3>
                                    <h4>funkcija</h4>
                                </div>
                            </div>
                            <div class="member row">
                                <div class="col-xs-4 image imag">
                                    <img class="media-object img-circle img-responsive" src="/img/tmp.jpg" alt="" />
                                </div>
                                <div class="col-xs-8 member_data">
                                    <h3>
                                        im epriimek
                                    </h3>
                                    <h4>funkcija</h4>
                                </div>
                            </div>

                            <div class="clearfix">
                                <h2>Člani in članice</h2>
                                <div class="session_other_members">
                                    <img class="img-circle" src="/img/tmp.jpg" alt="" />
                                    <img class="img-circle" src="/img/tmp.jpg" alt="" />
                                    <img class="img-circle" src="/img/tmp.jpg" alt="" />
                                    <img class="img-circle" src="/img/tmp.jpg" alt="" />
                                    <img class="img-circle" src="/img/tmp.jpg" alt="" />
                                    <img class="img-circle" src="/img/tmp.jpg" alt="" />
                                    <img class="img-circle" src="/img/tmp.jpg" alt="" />
                                </div>
                            </div>
                        </div>

                        <div class="paneltab border-right col-md-4">
                            <h2>Razmerje med koalicijo in opozicijo</h2>

                            <div class="progress hugebar">
                                <div class="progress-bar funblue" style="width: 35%">
                                    <div class="cptin">K</div>
                                    <span class="sr-only">35% Complete (success)</span>
                                </div>
                                <div class="progress-bar red" style="width: 65%">
                                    <div class="cptin">O</div>
                                    <span class="sr-only">10% Complete (danger)</span>
                                </div>
                            </div>


                            <h2>Število sedežev</h2>

                            <div class="other_poslanec clearfix">
                                <div class="col150">
                                <span class="poslanec_title">
                                        NSi
                                    </span>
                                </div>
                                <div class="col280">
                                    <div class="progress smallbar avgmin">
                                        <div style="width: 70%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class="progress-bar funblue">
                                            <span class="sr-only">55% Complete</span>
                                        </div>
                                        <div class="progress_number">
                                            7
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="other_poslanec clearfix">
                                <div class="col150">
                                <span class="poslanec_title">
                                        desus
                                    </span>
                                </div>
                                <div class="col280">
                                    <div class="progress smallbar avgmin">
                                        <div style="width: 40%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class="progress-bar funblue">
                                            <span class="sr-only">55% Complete</span>
                                        </div>
                                        <div class="progress_number">
                                            4
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="other_poslanec clearfix">
                                <div class="col150">
                                <span class="poslanec_title">
                                        zl
                                    </span>
                                </div>
                                <div class="col280">
                                    <div class="progress smallbar avgmin">
                                        <div style="width: 1%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="55" role="progressbar" class="progress-bar funblue">
                                            <span class="sr-only">55% Complete</span>
                                        </div>
                                        <div class="progress_number">
                                            1
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="paneltab col-md-4">
                            <h2>Seje</h2>

                            <div class="sessionsGetSessionByDate">

                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="lfb0">

                                        <ul>
                                            <li class="row">
                                                <span class="date col-sm-3">27. 3. 2015</span>
                                                <p class=" col-sm-9"><a href="#">Govorila</a> na <a href="#">9. redni seji DZ</a></p>
                                            </li>
                                            <li class="row">
                                                <span class="date  col-sm-3">27. 3. 2015</span>
                                                <p class=" col-sm-9"><a href="#">Govorila</a> na <a href="#">9. redni seji DZ</a></p>
                                            </li>
                                            <li class="row">
                                                <span class="date  col-sm-3">27. 3. 2015</span>
                                                <p class=" col-sm-9"><a href="#">Govorila</a> na <a href="#">9. redni seji DZ</a></p>
                                            </li>
                                            <li class="row">
                                                <span class="date  col-sm-3">27. 3. 2015</span>
                                                <p class=" col-sm-9"><a href="#">Govorila</a> na <a href="#">9. redni seji DZ</a></p>
                                            </li>
                                            <li class="row">
                                                <span class="date  col-sm-3">27. 3. 2015</span>
                                                <p class=" col-sm-9"><a href="#">Govorila</a> na <a href="#">9. redni seji DZ</a></p>
                                            </li>
                                        </ul>

                                    </div>
                                    <div role="tabpanel" class="tab-pane " id="lfb1">
                                        <ul>
                                            <li class="row">
                                                <span class="date  col-sm-3">27. 4. 2015</span>
                                                <p class=" col-sm-9"><a href="#">9. redni seji DZ</a></p>
                                            </li>
                                            <li class="row">
                                                <span class="date  col-sm-3">27. 5. 2015</span>
                                                <p class=" col-sm-9"><a href="#">9. redni seji DZ</a></p>
                                            </li>
                                            <li class="row">
                                                <span class="date  col-sm-3">27. 6. 2015</span>
                                                <p class=" col-sm-9"><a href="#">9. redni seji DZ</a></p>
                                            </li>
                                            <li class="row">
                                                <span class="date  col-sm-3">27. 7. 2015</span>
                                                <p class=" col-sm-9"><a href="#">9. redni seji DZ</a></p>
                                            </li>
                                            <li class="row">
                                                <span class="date  col-sm-3">27. 8. 2015</span>
                                                <p class=" col-sm-9"><a href="#">9. redni seji DZ</a></p>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#lfb0" aria-controls="lfb0" role="tab" data-toggle="tab">&#8226;
                                        </a>
                                    </li>
                                    <li role="presentation" class=""><a href="#lfb1" aria-controls="lfb1" role="tab" data-toggle="tab">&#8226;
                                        </a>
                                    </li>

                                </ul>




                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </div>

        <div class="card-footer">
            <div class="card-circle-button card-share"></div>
            <div class="card-circle-button card-embed">&lt;/&gt;</div>
            <div class="card-circle-button card-info">i</div>
        </div>
    </div>
    <!-- everything below here is part of the page and not part of the card -->

    <!-- your js file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <!-- inline temp/js/script.js as <script> -->
    <script data-inline="true" src="js/script.js"></script>

</body> <!-- removeme -->

</html> <!-- removeme -->
