
.card-container{
  width:auto;
  margin-left: 0px;
  margin-right: 0px;

  padding-left: 0px;
  padding-right: 0;
}

.card-footer{
  width:auto;
  padding-right: 20px;
  padding-left: 20px;
}


.osinfopos .member .image{
  width: 100%;
  height: auto;
}

.member .parlaicon {
  float: none;
}

.parlaicon-vodja{
background-image: url("https://cdn.parlameter.si/v1/icons/vodja.svg");
}
.parlaicon-namestnik{
  background-image: url("https://cdn.parlameter.si/v1/icons/namestnik.svg");
}
.parlaicon-sedezi{
  background-image: url("https://cdn.parlameter.si/v1/icons/sedezi.svg");
}
.parlaicon-kontakt{
  background-image: url("https://cdn.parlameter.si/v1/icons/kontakt.svg");
}
.parlaicon-omrezja{
  width: 30px;
  height: 30px;
  line-height: normal;
}

.poslanec h3{
  font-weight:400;
}
.member{
  border-bottom: none;
}
.bordertop{
  border-top: 1px solid #f0f0f0;
  padding: 10px 0;
  margin: 5px 0;
}
.bordertop0{
  border-top: 1px solid #f0f0f0;
  padding: 0;
  margin: 0;
}

.parlaicon-container{
  padding-top: 10px;
}
.parlaicon-containermp{
  //padding-top: 50px;
  padding-top: 25px;
}
.poslanec .key{
  padding: 10px 0;
  font-weight: 300;

  strong {
    font-weight: 400;
  }

  a:hover {
    background-color: #e1f6ff;
    text-decoration: none;
  }
}

.col-sm-4 {
  width: 33.33333333%;
}

.verticalmember{
  height: 40px;
}
.verticalmember .col-xs-3{
  //width: 19%;
  width: 65px;
  padding: 0;
}
.verticalmember .member_data {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.verticalmember .img-responsive{
  width:40px;
}
.verticalmember .member_data h4 {
  margin: 5px 0;
}

@media (max-width: 991px) {
  .verticalmember{
    height: auto;
  }
  .verticalmember .member_data {
    position: relative;
    top: auto;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}

.socialicon-container:hover {
  background-color: transparent !important;
}
.parlaicon-facebook, .parlaicon-twitter {
    background: none;
    svg {
        width: 22px;
        height: 22px;

        path {
            fill: #197197;
        }
    }

    &:hover {
        svg path {
            fill: #009cdd;
        }
    }
}