<!DOCTYPE html> <!-- removeme -->
<html> <!-- removeme -->

<head> <!-- removeme -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- removeme -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> <!-- removeme -->

    <!-- build:remove -->
    <!-- these script files are removed on build -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/perfect-scrollbar.jquery.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://cdn.parlameter.si/v1/parlassets/js/script.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- endbuild -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/css/perfect-scrollbar.css" data-remove="false" data-concat="false"> <!-- removeme -->
    <link rel="stylesheet" href="https://cdn.parlameter.si/v1/parlassets/scss/style.css" data-remove="false" data-concat="false"> <!-- removeme -->

    <!-- your css file is compiled to this and later inlined (must begin with data-inline="true" )-->
    <link data-inline="true" rel="stylesheet" href="css/style.css">
    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(["setDomains", ["*.parlameter.si"]]);
        _paq.push(["disableCookies"]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        _paq.push(['enableHeartBeatTimer']);
        (function() {
            var u="//zy.si/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '13']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
</head> <!-- removeme -->

<body> <!-- removeme -->

<style>     #votingCard{height: 480px;} </style><!-- removeme -->


<div class="container"><!-- removeme -->
    <div class="row"><!-- removeme -->
        <div class="col-md-12"><!-- removeme -->

<!-- everything above here is part of the page and not part of the card -->
<div class="card-container card-halfling <%= className %>" data-id="<%= cardData.group %>/<%= cardData.method %>">
    <div class="session-container session-search-container">
        <div class="row">

            <div class="col-lg-12">
                <div class="narrow-inner-container">
                    <h2>Išči po vseh sejah</h2>

                    <form method="get" target="_blank" action="<%=urlsData.base%>/seje/isci">

                        <div class="input-group search">
                            <input type="text" class="form-control simplebox" placeholder="" name="q" value="">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                            </span>
                        </div>
                    </form>
                    <div class="searchinfo measure" data-mc="search" data-ma="infobox" data-mn="" data-mv="" data-toggle="modal" data-target="#modal-search-how">i</div>

                </div>

            </div>
        </div>
    </div>



    <!-- - - - - - - - - - - SEARCH MODAL -->
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-search-how">
        <div class="modal-dialog modal-wide modal-center" role="document">
            <div class="modal-center-wrapper">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-logo">
                            <img class="img-responsive" src="https://cdn.parlameter.si/v1/parlassets/img/logo-parlameter.svg" alt="parlameter logo">
                        </div>
                        <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Kako iskati?</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <p>
                                Za privzet način iskanja je nastavljeno široko ujemanje (med zadetki se znajdejo vsi govori, ki vsebujejo katero koli od
                                besed v iskalnem nizu). Med rezultati zadetkov se zaradi pregibanja pojavljajo vse slovnične
                                oblike znotraj iste besedne vrste. To ne velja zgolj za iskanje z natančnim ujemanjem ("narekovaji").
                            </p>
                            <p>
                                Če želiš svoj iskalni niz dodatno modificirati, lahko uporabiš naslednje operatorje:
                            </p>
                            <div class="row flex-wrap">
                                <div class="col-sm-6">
                                    <div class="light-bg">
                                        <h4>IN</h4>
                                        <p>med rezultati iskanja bodo zgolj zadetki, ki vključujejo vse besede v iskalnem nizu
                                            (a ne glede na njihov vrstni red)</p>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <br>
                                                <div><i>Primer iskanja:</i></div>
                                                <div>Ivan IN Cankar</div>
                                            </div>
                                            <div class="col-xs-6">
                                                <br>
                                                <div><i>Rezultati iskanja:</i></div>
                                                <div>
                                                    Ivan Cankar<br> Cankar, Ivan
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="light-bg">
                                        <h4>"NAREKOVAJI"</h4>
                                        <p>med rezultati iskanja bodo samo zadetki, ki vlkjučujejo točen nabor znakov</p>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <br>
                                                <div><i>Primer iskanja:</i></div>
                                                <div>"Humanitarna kriza"</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row flex-wrap">
                                <div class="col-sm-6">
                                    <div class="light-bg">
                                        <h4>! (KLICAJ)</h4>
                                        <p>rezultati iskanja nujno vklučujejo s klicajem označeno besedo v iskalnem nizu, druge
                                            besede iskalnega niza pa služijo zgolj za rangiranje rezultatov</p>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <br>
                                                <div><i>Primer iskanja:</i></div>
                                                <div>Poslanska !skupina</div>
                                            </div>
                                            <div class="col-xs-6">
                                                <br>
                                                <div><i>Rezultati iskanja:</i></div>
                                                <div>
                                                    Poslanska skupina,<br> skupina poslancev,<br> mednarodna skupina
                                                </div>
                                                <br>
                                                <div><i>Ni rezultat iskanja:</i></div>
                                                <div>
                                                    Poslanska služba
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="light-bg">
                                        <h4>- (MINUS)</h4>
                                        <p>rezultati iskanja izjključujejo zadetke s posamezno besedo v iskalnem nizu, če to
                                            besedo predhaja minus (-)</p>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <br>
                                                <div><i>Primer iskanja:</i></div>
                                                <div>-Poslanska skupina</div>
                                            </div>
                                            <div class="col-xs-6">
                                                <br>
                                                <div><i>Rezultati iskanja:</i></div>
                                                <div>
                                                    skupina poslancev,<br> mednarodna skupina
                                                </div>
                                                <br>
                                                <div><i>Ni rezultat iskanja:</i></div>
                                                <div>
                                                    Poslanska skupina
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- - - - - - - - - - - /SEARCH MODAL -->
</div>
<!-- everything below here is part of the page and not part of the card -->


        </div><!-- removeme -->
    </div><!-- removeme -->
</div><!-- removeme -->

<!-- your js file is compiled to this and later inlined (must begin with data-inline="true" )-->
<!-- inline temp/js/script.js as <script> -->
<script data-inline="true" src="js/script.js"></script>

</body> <!-- removeme -->

</html> <!-- removeme -->
