overflow: visible !important;

.tag-selector {
  width: 100%;

}

.select2-results__option {
  font-size: 12px;
  height: 24px;
  line-height: 24px;
  padding: 0 16px;
  position: relative;

  &::after {
    background-color: #ebebeb;
    bottom: -1px;
    content: '';
    height: 1px;
    left: 22px;
    position: absolute;
    width: calc(100% - 44px);
  }
}

.select2-dropdown {
  border: 1px solid #c8c8c8;
  border-radius: 0;
}

.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #c8c8c8;
  border-radius: 0;
}
