@import 'parlassets/scss/breakpoints';

.nospeeches {
  position: relative;
  margin: auto;
  text-align: center;
  margin-top: 40px;
}

.word-list .labeled-chart {
  padding: 0;
  line-height: 1.3em;
  .column {
    &.chart-label {
      flex: 1;
      .label-container {
        align-items: center;
        display: flex;
        height: 48px;
      }
    }
    &.chart {
      flex: 4;
      .progress {
        padding: 9px 0;
        height: 48px;
      }
    }
  }
}

.tfidf-container {
  max-height: 480px;
  overflow: hidden;
}
