@import "parlassets/scss/breakpoints";

.poslanec_title {
    line-height: 30px;
    height: 30px;
    padding-right: 10px;
}

.term, .frequency {
    display: block;
    float: left;
    height: 30px;
}
.term span, .frequency div span {
    line-height: 30px;
}
.progress-bar, .progress_number {
    float: left;
}

.tfidf-bar {
    height: 30px;
    margin-bottom: 8px;
}
.progress-bar {
    border-bottom-width: 0;
}

.halfer-container {
    overflow: hidden;
}

.halfer {
    width: 100%;
    float: left;
    @include respond-to(desktop) {
        width: 50%;
        padding-right: 5px;
    }
}
