.card-content-front {
  display: flex;
  flex-direction: column;
}

.nav-tabs { padding-bottom: 0; }

.tab-content {
  flex: 1;
  overflow-y: auto;
}

.membership-list {
  margin: 13px 0;
  padding: 0;
  list-style: none;

  .key {
    line-height: 1.3em;
    padding: 4px 0;
    text-align: left;
    width: 100%;

    a:hover {
      background-color: #e1f6ff;
      text-decoration: none;
    }
  }
}
