@import 'parlassets/scss/colors';
@import 'parlassets/scss/breakpoints';
@import 'parlassets/scss/helper';

text {
  font: 12px sans-serif;
  text-anchor: middle;
  color: $black;
  font-weight: 300;
}

path.pointer { stroke: $black; }

.card-header { height: auto; }

.slab {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}

a.document {
  background-color: $fontblue;
  border-radius: 50%;
  color: $white;
  display: inline-block;
  height: 35px;
  line-height: 35px;
  margin-left: 10px;
  text-align: center;
  width: 35px;
}

a.document:hover {
  background-color: $funblue;
  text-decoration: none;
}

.greybox {
  background-color: $grey;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  overflow: visible;
  padding: 15px;
}

.legend-container,
.right-container {
  display: flex;
  flex: 1 0 auto;
}

.legend-container {
  height: 68px;
  padding-top: 10px;
  padding-bottom: 10px;

  @include respond-to(mobile) { justify-content: space-between; }

  .option {
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    max-width: 130px;
    height: 100%;
    margin-right: 5px;

    border: 1px solid $grey;

    &.za .option-text { border-bottom-color: $fontblue; }
    &.proti .option-text { border-bottom-color: $funblue; }
    &.vzdrzani .option-text { border-bottom-color: $ignoreblue; }
    &.niso .option-text { border-bottom-color: $noblue; }

    &.za .option-text:hover, &.za.selected .option-text {
      background-color: $fontblue;
      .option-option, .option-number {
        color: #ffffff;
      }
    }
    &.proti .option-text:hover, &.proti.selected .option-text {
      background-color: $funblue;
      .option-option, .option-number {
        color: #ffffff;
      }
    }
    &.vzdrzani .option-text:hover, &.vzdrzani.selected .option-text {
      background-color: $ignoreblue;
      .option-option, .option-number {
        color: #ffffff;
      }
    }
    &.niso .option-text:hover, &.niso.selected .option-text {
      background-color: $noblue;
      .option-option, .option-number {
        color: #ffffff;
      }
    }

    .option-text {
      display: flex;
      justify-content: center;
      border-bottom: 5px solid transparent;
      padding-bottom: 5px;

      width: 100%;

      @include respond-to(mobile) { padding-left: 5px; }
    }

    .option-number {
      display: flex;
      color: #515151;
      font-size: 30px;
      line-height: 42px;
      font-weight: 400;
      margin: 0;
      padding: 0;
      padding-left: 5px;

      @include respond-to(mobile) { font-size: 20px; }
    }

    .option-option {
      display: flex;
      color: #515151;
      font-size: 16px;
      line-height: 44px;
      text-transform: uppercase;

      @include respond-to(mobile) { font-size: 12px; }
    }
  }
}

.left-container {
  .status-container {
    display: block;
    font-size: 16px;
    height: 48px;
    margin-right: 20px;
    position: relative;

    @include respond-to(mobile) { margin: auto; }

    .status {
      display: inline-block;
      font-weight: 700;
      line-height: 48px;
    }

    i {
      font-size: 14px;
      margin-left: 5px;
    }

    .glyphicon-remove { color: $red; }
    .glyphicon-ok { color: $green; }
  }
}

.right-container {
  justify-content: flex-end;

  @include respond-to(mobile) {
    justify-content: center;
    width: 100%;
  }
}

.required-majority {
  display: block;
  float: left;
  line-height: 48px;
}

.member {
  overflow: hidden;

  @extend %flex;

  p {
    font-size: 18px;
    margin: 0;

    @include respond-to(mobile) { font-size: 14px; }
  }
}

.label-party {
  opacity: 0;
}

.arc path {
  transition: all 1s ease-in;
  cursor: pointer;
}

.pointer-party {
  opacity: 0;
}

.label,
.pointer {
  transition: opacity 0.3 ease-out;
}

.card-content {
  height: 600px !important;
  overflow: hidden;
}

.people-ballots {
  height: 439px;
  overflow-x: hidden;
  overflow-y: auto;

  @include respond-to(mobile) { height: 424px; }
}

.vote-icon {
  display: flex;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;

  &.za { background-image: url('https://cdn.parlameter.si/v1/parlassets/icons/za.svg'); }
  &.proti { background-image: url('https://cdn.parlameter.si/v1/parlassets/icons/proti.svg'); }
  &.ni { background-image: url('https://cdn.parlameter.si/v1/parlassets/icons/ni.svg'); }
  &.vzdrzan { background-image: url('https://cdn.parlameter.si/v1/parlassets/icons/vzdrzan.svg'); }
}

.person-list .person:last-child {
  border-bottom: 1px solid $grey;
}

.search-dropdown {
  z-index: 10;
  width: 90%;

  @include respond-to(mobile) { width: 100%; }
}

.prikazi {
  width: 100px;
  text-align: center;
  height: 53px;
  line-height: 53px;
  color: #ffffff;
  background-color: #00628c;
  margin-left: 5px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: #009CDD;
  }
}

.nodocuments {
  color: rgb(117, 117, 117);
  height: 53px;
  line-height: 53px;
}